{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>Sign Up</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Submit</button>
            </form>
        </div>
    </main>




{% endblock content %}
